body, html
{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Alegreya Sans', 'Helvetica Neue', 'Helvetica';
    background: #DEDEDE;
}

a {
    text-decoration: none;
    color: #D51F24;
}

a:hover {
    color: #6F939F;
}

.container {
    width: 80%;
    margin: 0 auto;
    clear: both;
    overflow: auto;
}

section.masthead
{
    float: left;
    width: 45%;
    font-size: 0;

}

section.masthead div
{
    width: 100%;
}

section.masthead .top,
section.masthead .bottom
{
    padding: 0;
    margin: 0;
}


section.masthead .top img,
section.masthead .bottom img
{
    padding: 0;
    margin: 0;
    width: 85%;
}

section.navbar {
    float: left;
}


section.navbar ul.social,
section.navbar ul.site,
section.navbar ul.contact
{
    clear: both;
}

section.navbar ul.social li,
section.navbar ul.site li,
section.navbar ul.contact li
{
    display: inline-block;
}

section.navbar ul.social li.pad-left,
section.navbar ul.site li.pad-left,
section.navbar ul.contact li.pad-left
{
    padding-left: 1em;
}

section.navbar ul.contact li
{
    font-size: 1.2em;
}


section.content
{
    padding: 1em;
    clear: both;

}

section.content .body {
    padding: .2em;
    background: url('../img/5076440.png');
}

section.content .body .inner
{
    margin: 1em;
    padding: .4em;
    background: #ffffff;
    overflow: auto;
}

section.content header {
    padding: 1em;
    margin: 0;
    background: #03324E;
}

section.content h1 {
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
    font-size: 2.6em;

    color: #6F939F;
    border-bottom: solid 2px #D51F24;
}

footer.page {
    margin: .3em 1em;
    font-size: .85em;
    text-align:center;
    color: #666;
}

#instafeed {
    float: right;
    width: 45%;
    text-align: right;
    overflow: auto;
}

#instafeed img {
    padding: 0 .3em;
}

.introduction
{
    margin: 1em;
    font-size: 1.2em;
}

.introduction h2
{
    margin: 0;
    padding: 0;
    color: #03324E;
}

.top-spacer {
    margin-top: 2em;
}